name: Deploy to Production

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

concurrency:
  group: production-deploy
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm i -g vercel

      - run: vercel pull --yes --environment=production --token=${{ env.VERCEL_TOKEN }}

      - run: vercel build --prod --token=${{ env.VERCEL_TOKEN }}

      - run: vercel deploy --prebuilt --prod --token=${{ env.VERCEL_TOKEN }}

    env:
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
